body{
    margin: 0;
    padding: 0; 
}
#container{
    margin: 40px;
    padding: 0;
}

#top{
    height: 80px;
    border-bottom: 1px solid #aaa;
}


#input input{
    width: 35%;
    height: 42px;
    font-size: 14px;
    margin: 0;
    padding: 0; 
    background: #f7f7f7;

    padding-left: 5px;
    border: 1px solid #aaa;
    outline:none; 

    float: left;
    margin-right: 30px;

}

#input input:-webkit-autofill,select:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0px 1000px #eee  inset !important;  
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}


#bon{
    /*margin-bottom: 100px;*/
}

#submit{
    float: right;
    height: 42px;
    width: 20%;
    font-size: 18px;
    background-color: #0080FF;
    color: white;
    outline: none;
}

#submit:hover{
    opacity: 0.8;
}

#submit:active{
    opacity: 1.1;
}

#response{
    text-align: center;
}

#response textarea{
    margin: 0;
    padding: 0; 
    width: 48%;
    height: 200px;
    resize:none;
    display: none;
}
#json-renderer{
    /*width: 100px;*/
}

#json-renderer-two{
    border: 1px solid #aaa;
}


#diff{
    text-align: center;
    margin-top: 250px;
}

#diff textarea{
    margin: 0;
    padding: 0; 
    width: 48%;
    height: 200px;
    resize:none;
}

#options{
    clear: both;
    /*margin-top: 1000px;*/
}

p.options label {
          margin-right: 10px;
        }
        p.options input[type=checkbox] {
          vertical-align: middle;
        }
        textarea#json-input {
          width: 100%;
          height: 200px;
        }
        pre#json-renderer {
          border: 1px solid #aaa;
        }

.left{
    /*float: left;*/
}
.right{
    /*float: right;*/
}
#json-diff{
    color: red;
    border: 1px solid #aaa;
    font-size: 14px;
    padding: 20px;
    opacity: 0.8;
}