<!doctype HTML>
<html>
  <head>
    <title>jQuery json-viewer</title>
    <meta charset="utf-8" />
    <script type="text/javascript"  src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript"  src="{{ url_for('static', filename='js/jquery.json-viewer.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery.json-viewer.css') }}" rel="stylesheet">
    <style type="text/css">
        p.options label {
          margin-right: 10px;
        }
        p.options input[type=checkbox] {
          vertical-align: middle;
        }
        textarea#json-input {
          width: 100%;
          height: 200px;
        }
        pre#json-renderer {
          border: 1px solid #aaa;
        }
    </style>


    

    <script>
$(function() {
  function renderJson() {
    try {
      var input = eval('(' + $('#requestOne').val() + ')');
    }
    catch (error) {
      return alert("Cannot eval JSON: " + error);
    }
    var options = {
      collapsed: $('#collapsed').is(':checked'),
      rootCollapsable: $('#root-collapsable').is(':checked'),
      withQuotes: $('#with-quotes').is(':checked'),
      withLinks: $('#with-links').is(':checked')
    };
    $('#json-renderer').jsonViewer(input, options);
  }

  // Generate on click
  $('#btn-json-viewer').click(renderJson);

  // Generate on option change
  $('p.options input[type=checkbox]').click(renderJson);

  // Display JSON sample on page load
  renderJson();
});
    </script>
  </head>

  <body>
    <textarea id="requestOne" autocomplete="off">
{
  "id": 1001,
  "type": "donut",
  "name": "Cake",
  "description": "https://en.wikipedia.org/wiki/Doughnut",
  "price": 2.55,
  "available": {
    store: 42,
    warehouse: 600
  },
  "toppings": [
    { "id": 5001, "type": "None" },
    { "id": 5002, "type": "Glazed" },
    { "id": 5005, "type": "Sugar" },
    { "id": 5003, "type": "Chocolate" },
    { "id": 5004, "type": "Maple" }
  ]
}</textarea>

    <p class="options">
      Options:
      <label title="Generate node as collapsed">
        <input type="checkbox" id="collapsed">Collapse nodes
      </label>
      <label title="Allow root element to be collasped">
        <input type="checkbox" id="root-collapsable" checked>Root collapsable
      </label>
      <label title="Surround keys with quotes">
        <input type="checkbox" id="with-quotes">Keys with quotes
      </label>
      <label title="Generate anchor tags for URL values">
        <input type="checkbox" id="with-links" checked>
        With Links
      </label>
    </p>
    <button id="btn-json-viewer" title="run jsonViewer()">Transform to HTML</button>
    <pre id="json-renderer"></pre>
  </body>
</html>
