<html>
<head no-cache>
    <!-- <meta charset="utf-8"> -->
    <title>get请求</title>
    <script type="text/javascript"  src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script type="text/javascript"  src="{{ url_for('static', filename='js/jquery.json-viewer.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery.json-viewer.css') }}" rel="stylesheet">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
</head>
<body>
    <div id="container">
        <div id="top">
           <div id = "input">
            <input id="requestOne" class="left" type="" name="" placeholder="Enter request urlOne" ></input>
            <input id="requestTwo" class="right" type="" name="" placeholder="Enter request urlTwo"></input>
            </div>
            <div id="bon">
                <button id="submit"  name="aaa" value="submit" onclick="doPost()">Send</button> 
            </div> 
        </div>



        <div id="options">
                <p class="options">
                  Options:
                  <label title="Generate node as collapsed">
                    <input type="checkbox" id="collapsed" checked>Collapse nodes
                  </label>
                  <label title="Allow root element to be collasped">
                    <input type="checkbox" id="root-collapsable" >Root collapsable
                  </label>
                  <label title="Surround keys with quotes">
                    <input type="checkbox" id="with-quotes" checked >Keys with quotes
                  </label>
                  <label title="Generate anchor tags for URL values">
                    <input type="checkbox" id="with-links" checked>
                    With Links
                  </label>
                </p>
        </div>

    
    <button id="btn-json-viewer" title="run jsonViewer()">UseOptions</button>
    <pre id="json-renderer"></pre>
    <pre id="json-renderer-two"></pre>
    <div id="json-diff">json-diff:</div>

        <div id = "response">
            <textarea id="responseOne" class="left" rows="5">{"jsonRespons":"urlOne"}</textarea>
            <textarea id="responseTwo" class="right" rows="5">{"jsonRespons":"urlTwo"}</textarea> 
        </div>

<!--         
        <div id = "diff">
            <textarea class="left" rows="30"></textarea>
            <textarea class="right" rows="5"></textarea>
        </div> -->
     <!-- <button id="checkJson"  name="aaa" value="submit" onclick="checkJson()">Send</button>  -->

        
    </div>

</body>


    <script>
        // function checkJson(){
            // var jsonOne = $('#json-renderer').html()
            // var jsonTwo = $('#json-renderer-two').text()
            // var a = jsonOne.replace("\"urlOne\"","<b>\"urlOne\"</b>")
            // $('#json-renderer').html(a)
            // console.log(a)
            // console.log(jsonOne)
            // console.log(jsonTwo)

        // }

        function doPost()
        {
        urlOne = $('#requestOne').val();
        urlTwo = $('#requestTwo').val();
        if (urlOne||urlTwo) {
            // console.log(urlOne)
            // console.log(urlTwo)
        $.ajax({
            // url: "http://94.191.70.72:3391/do_get",
            url: "http://127.0.0.1:3391/do_get",
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data:JSON.stringify({"urlOne":urlOne,"urlTwo":urlTwo,}),
            headers: {'Access-Control-Allow-Origin': 'http://127.0.0.1:3391', "access-control-allow-credentials": "true"},
            dataType: "json",
            success:function (message) {
                res = JSON.stringify(message)
                // alert("提交成功"+res);
                a = JSON.parse(res)
                console.log(a)
                // console.log(res)
                // console.log(a.responseOne)
                // console.log(a.responseTwo)
                $('#responseOne').val(JSON.stringify(a.responseOne))
                $('#responseTwo').val(JSON.stringify(a.responseTwo))
                $('#json-diff').html("json-diff:"+JSON.stringify(a.diff))
                // alert(JSON.stringify(a.diff))
                renderJson();
            },
            error:function (message) {
                alert("提交失败:"+"请输入有效的url");
                console.log(JSON.stringify(message))
            }
        });
        }else{
            alert("请至少先输入一个url")
        }
        }

        function renderJson() {
            try {
              var input = eval('(' + $('#responseOne').val() + ')');
              var input_two = eval('(' + $('#responseTwo').val() + ')');
            }
            catch (error) {
              return alert("Cannot eval JSON: " + error);
            }
            var options = {
              collapsed: $('#collapsed').is(':checked'),
              rootCollapsable: $('#root-collapsable').is(':checked'),
              withQuotes: $('#with-quotes').is(':checked'),
              withLinks: $('#with-links').is(':checked')
            };
            $('#json-renderer').jsonViewer(input, options);
            $('#json-renderer-two').jsonViewer(input_two, options);
          }
            // Generate on click
            $('#btn-json-viewer').click(renderJson);
            renderJson();
    </script>
</html>